@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f1f1f1;
  --color-foreground: #171717;
  --color-card      : #F5F7F9;

  --color-btn-primary: #3b82f6;
  --color-btn-ghost  : #f3f4f6;

  --color-btn-success: #14ae5c;

  --color-btn-danger: #ec221f;

  --color-btn-warning: #bf6a02;
  --color-yellow     : #FFCB33;
  --color-skyblue    : #6b7a99;

  --color-winered: #633b48;

  --color-beige: #f5f0e6;
}

.dark {
  --color-background : #1e1e1e;
  --color-foreground : #ededed;
  --color-card       : #282828;
  --color-btn-primary: #193f90;

  --color-btn-ghost: #2a2a2a;

  /* --color-btn-success: #14AE5C;

  --color-btn-danger: #EC221F;

  --color-btn-warning: #BF6A02; */
}