@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colores base */
  --color-background   : #ffffff;
  --color-foreground   : #171717;
  --color-card         : #dddddd;
  --color-btn-primary  : #3b82f6;
  --color-btn-secondary: #6b7280;
  --color-btn-ghost    : #f3f4f6;
}

/* Tema oscuro */
.dark {
  --color-background   : #1e1e1e;
  --color-foreground   : #ededed;
  --color-card         : #7a7979;
  --color-btn-primary  : #193f90;
  --color-btn-secondary: #24a444;
  --color-btn-ghost    : #1e1e1e;
}